header {
  min-height: 100vh;
  position: relative;
  margin-bottom: 150px;
  padding: 50px;
  .header__text {
    max-width: 515px;
    text-align: left;
    height: 100%;

    h1 {
      max-width: 514px;
      color: #091e40;
      font-family: 'Nunito', sans-serif;
      font-size: 75px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: 0.68px;
      margin-bottom: 55px;
    }

    div {
      max-width: 459px;
      height: auto;
      color: #81858e;
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.22px;
      margin-top: 55px;
    }

    .uk-sign-up {
      margin-top: 70px;
    }
  }

  .header__content {
    margin-top: 250px;
  }

  img.svg {
    position: absolute;
    right: 0;
    top: 120px;
    width: 700px;
    height: 700px;
  }
}